<div class="candidates-container">  
  <% if @candidates.present? %>
    <div class="title">
      <h2>Lista de candidatos qualificados:</h2>
    </div>

      <% @candidates.each do |c| %>
      <div class="candidate">
       <ul>
        <strong>User id:</strong> <%= c.external_id %><br>
        <strong>City:</strong> <%= c.city.name %><br>
        <strong>Time of Experience:</strong> <%= c.experience_range.name %><br>
        <strong>Technologies:</strong> <%= c.technologies.map(&:name) %><br>
        </ul>
      <% end %>
    </div>
  <% else %>
    <div class="title">
    <h2>Não existe candidatos com estas características, por favor tente novamente.</h2>
    </div>
  <% end %>
</div>

  <div class="btn">
    <%= link_to "Voltar para Home Page", root_path %>
  </div>

